= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this chat_room from being saved:"
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  - if signed_in?
    .field
      =f.radio_button :private, true
      =f.label :private, :Private
    .field
      =f.radio_button :private, false
      =f.label :private, :Public
  .actions
    = f.submit 'Create'
