- if signed_in?
  %h1 Welcome to #{current_user.name}

- if signed_in?
  = button_to 'My page', {controller: :users, action: :show, id: current_user.id}, method: :get
  = button_to 'Sign out', signout_path, method: :delete
- else
  = button_to 'Sign up',  signup_path,  method: :get
  = button_to 'Sign in',  signin_path,  method: :get

%h1 ChatRooms

= button_to 'New Chat Room', chat_rooms_new_path

%table{border: "5"}
  %tr
    %th ID
    %th ROOM NAME
    %th PRIVATE?
    %th ADMIN
  - @rooms.each do |room|
    %tr
      %td= room.id
      %td= room.name
      %td= room.private ? 'PRIVATE' : 'PUBLIC'
      %td= room.admin_user ? room.admin_user.name : 'Nothing'
      %td= link_to 'Enter', {action: 'room', id: room.id}
      %td= link_to 'Destroy', {action: 'destroy', id: room.id}, {data: {method: :delete, confirm: 'Are you sure?'}}
