#data_storage{ data: { 'pusher-key' => Pusher.key, 'room-id' => @room.id } }

%h1= "Welcome to ChatRoom-#{@room.name}"
%textarea#text{placeholder: "入力してください", cols: "40", rows: "4"}
%input#post{type: "button", value: "送信"}
= button_to "clear", {action: "clear", id: @room.id}, {confirm: "really?"}
%ul
  - @messages.each do |msg|
    - msg["content"].gsub!(/\r\n|\r|\n/, "<br />")
    %li= "#{msg["date"]} - #{msg["speaker"]}"
    = "#{msg["content"]}"
