%h1 Users ALL

= button_to 'Sign up',  signup_path, method: :get
- if signed_in?
  = button_to 'My page', {action: :show, id: current_user.id}, method: :get
- else
  = button_to 'Sign in',  signin_path,  method: :get

%table{border: "5"}
  %tr
    %th ID
    %th NAME
    %th ADMIN
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.name
      %td= user.admin ? "YES" : "NO"
