%h4= link_to 'HOME', users_path, method: :get

%h1 User page
%h2 Welcome #{@user.name}

= button_to 'Sign out', signout_path, method: :delete

%table{border: "2"}
  %tr
    - 6.times do
      %th NAME
      %th RELATION
  - @users.each_with_index do |user, i|
    - if i%6 == 0
      %tr
    %td= user.name
    - relation = @user.relation(user)
    %td
      = button_to 'Friend Request',  {controller: :friend_ships, action: :friend_request, from_id: @user.id, to_id: user.id} if relation == 'Nothing'
      = button_to 'Approve request', {controller: :friend_ships, action: :approve, from_id: user.id, to_id: @user.id}        if relation == 'Has been requested'
      = relation if relation != 'Nothing' && relation != 'Has been requested'

- unless @user.admin?
  = button_to 'Cancel the membership', {action: 'destroy', id: @user.id}, {method: :delete, data: {confirm: 'Are you sure?'}}
